<div class="container">
    <p>
        Social isolation - which a lot of Seniors feel - has been linked to higher risk to a number of ailments.
        There are over 45 million seniors in United States as of 2016.  About 28% of seniors, who are not institutionalized are living alone.
        As people age, their social circle reduces and the amount of socialization decreases.  As older children of seniors move away, seniors also
        feel familial isolation and loneliness.

        We are their - Companions
    </p>
    <app-button-block></app-button-block>
</div>
