<div>
    <!-- This component has four navigation buttons OK, Cancel, Next and Previous-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>    
            <div class="col-md-2" *ngIf="showOk">
                <button mat-button #okbutton id="okbutton" (click)="buttonClicked(okbutton)">OK</button>
            </div>
            <div class="col-md-2" *ngIf="showCancel">
                <button mat-button  #cancelbutton id="cancelbutton"  (click)="buttonClicked(cancelbutton)" >Cancel</button>
            </div>
            <div class="col-md-2" *ngIf="showSignUp">
                <button mat-button #signupbutton id="signupbutton"  (click)="buttonClicked(signupbutton)" >Sign-Up</button>
            </div>
            <div class="col-md-2"  *ngIf="showLogin">
                <button mat-button #loginbutton id="loginbutton"  (click)="buttonClicked(loginbutton)">Log-in</button>
            </div>
            <div class="col-md-2"></div>    
        </div>
    </div>
</div>