<div>
    <!-- This component has four navigation buttons OK, Cancel, Next and Previous-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>    
            <div class="col-md-2" *ngIf="showOk">
                <button mat-button>OK</button>
            </div>
            <div class="col-md-2" *ngIf="showCancel">
                <button mat-button>Cancel</button>
            </div>
            <div class="col-md-2" *ngIf="showSignUp">
                <button mat-button >Sign-Up</button>
            </div>
            <div class="col-md-2" *ngIf="showLogin">
                <button mat-button>Log-in</button>
            </div>
            <div class="col-md-2"></div>    
        </div>
    </div>
</div>